@model HMS.Models.User

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Button-group {
        width: 146.750px;
        color: #fff;
    }
    .ctd {
        width: 700px;
        padding: 4px 2px 2px 10px;
        font-weight: bold;
    }
    .Button-group {
        width: 146.750px;
        color: #fff;
    }
    
</style>
<div class="pcoded-main-container" style="margin-top:56px">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="wizard">
                                                    <section>
                                                        <fieldset class="tabContent" id="Diagnosis" style="width:100%">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div id="wizard">
                                                                            <section>
                                                                                <div class="wizard-form" id="example-advanced-form">
                                                                                    @Html.AntiForgeryToken()
                                                                                    <table class="table col-md-12 table-bordered">
                                                                                        <tr>
                                                                                            <td class="ctd" style="border-bottom:none;padding-bottom:0" >
                                                                                                <div class="col-sm-12 form-group row">
                                                                                                    <div class="col-sm-1" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="EmployeeNumber" class="block" style="line-height:50px">Employee #:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px;">
                                                                                                        <input type="text" id="EmployeeNumber" name="EmployeeNumber" placeholder="Users Employee Number" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                    <div class="col-sm-1" style="padding-left:5px; padding-right:2px; text-align:center">
                                                                                                        <label for="Role" class="block" style="line-height:50px">Role:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px">
                                                                                                        <select type="text" id="Role" name="Role" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="ctd" style="border-top:none;padding-top:0" >
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-1" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="EmailAddress" class="block" style="line-height:50px">Email :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px;">
                                                                                                        <input type="text" id="EmailAddress" name="EmailAddress" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                    <div class="col-sm-1" style="padding-left:5px; padding-right:2px; text-align:center">
                                                                                                        <label for="PhoneNum" class="block" style="line-height:50px">Phone :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px">
                                                                                                        <input type="text" id="PhoneNum" name="PhoneNum" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-1" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="UserName" class="block" style="line-height:50px">UserName :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px;">
                                                                                                        <input type="text" id="UserName" name="UserName" placeholder="Unique User Name" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                    <div class="col-sm-1" style="padding-left:5px; padding-right:2px; text-align:center">
                                                                                                        <label for="Password" class="block" style="line-height:50px">Password :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px">
                                                                                                        <input type="text" id="Password" name="Password" placeholder="atleast 6 characters" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-9"></div>
                                                                                                    <div class="col-sm-3" style="padding-left:5px">
                                                                                                        <button class="btn-primary btn-sm Button-group">Submit</button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#Role').html('');
        var options = '';
        $.ajax({
                url: '@Url.Action("Roles", "User")',
                     type: "GET",
                     cache:false,
                     success: function (result) {
                         var options = '';

                         options += '<option value="Select">Select Role</option>';
                         for (var i = 0; i < result.length; i++) {
                             options += '<option value="' + result[i] + '">' + result[i] + '</option>';
                         }
                         $('#Role').append(options);
                  }
    });
    $("#PhoneNum").inputmask({ "mask": "(03)-99-99999999" });
</script>
