@model HMS.Models.User

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .timage {
        width: 198px;
        height: 221px;
    }
    .Button-group {
        width: 146.750px;
        color: #fff;
    }
    .ctd {
        width: 700px;
        padding: 4px 2px 2px 10px;
        font-weight: bold;
    }
    .Button-group {
        width: 146.750px;
        color: #fff;
    }
    
</style>
<div class="pcoded-main-container" style="margin-top:56px">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="wizard">
                                                    <section>
                                                        <fieldset class="tabContent" id="Diagnosis" style="width:100%">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div id="wizard">
                                                                            <section>
                                                                                <fieldset style="width:100%" class="tabContent" id="Register">
                                                                                    <div class="card-block">
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div id="wizard">
                                                                                                    <form method="post" action="/User/AddUser" enctype="multipart/form-data">
                                                                                                        <section>
                                                                                                            <div class="wizard-form" id="example-advanced-form">
                                                                                                                @Html.AntiForgeryToken()
                                                                                                                <table class="table col-md-12 table-bordered">
                                                                                                                    <tr>
                                                                                                                        <td style="width:226px">
                                                                                                                            <div class="form-control-inverse">
                                                                                                                                <div id="image-holder" class="form-control form-control-inverse" style="height:221px;width:200px;padding:0"></div>
                                                                                                                                <br />
                                                                                                                                <input id="Image" name="Image" type="file" class="required form-control form-control-inverse" style="width:200px">
                                                                                                                            </div>
                                                                                                                        </td>
                                                                                                                        <td class="ctd">
                                                                                                                            <div class="form-group row col-sm-12">
                                                                                                                                <div class="col-sm-2" style="padding-left:5px;padding-right:2px">
                                                                                                                                    <label for="EmployeeNumber" class="block" style="line-height:50px">Employee #:</label>
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-4" style="padding-left:5px;">
                                                                                                                                    <input type="text" id="EmployeeNumber" name="EmployeeNumber" placeholder="User's Employee Number" class="required form-control form-control-inverse" />
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-2" style="padding-left:5px; padding-right:2px; text-align:center">
                                                                                                                                    <label for="UserName" class="block" style="line-height:50px">Name:</label>
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                                                                    <input type="text" id="UserName" name="UserName" placeholder="Full Name" class="required form-control form-control-inverse" />
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                            <div class="form-group row col-sm-12">
                                                                                                                                <div class="col-sm-2" style="padding-left:5px; padding-right:2px">
                                                                                                                                    <label for="PhoneNum" class="block" style="line-height:50px">Phone Number:</label>
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                                                                    <input type="text" id="PhoneNum" name="PhoneNum" placeholder="Phone Number" class="required form-control form-control-inverse" />
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-2" style="padding-left:5px;padding-right:2px; text-align:center">
                                                                                                                                    <label for="Role" class="block" style="line-height:50px">Role:</label>
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                                                                    <select id="Role" name="Role" type="" class="required form-control form-control-inverse"></select>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                            <div class="form-group row col-sm-12">
                                                                                                                                <div class="col-sm-2" style="padding-left:5px; padding-right:2px">
                                                                                                                                    <label for="EmailAddress" class="block" style="line-height:50px">Email:</label>
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                                                                    <input type="email" id="EmailAddedress" name="EmailAddress" placeholder="Email Address" class="required form-control form-control-inverse today" />
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-2" style="padding-left:5px;padding-right:2px; text-align:center">
                                                                                                                                    <label for="Password" class="block" style="line-height:50px">Password:</label>
                                                                                                                                </div>
                                                                                                                                <div class="col-sm-4" style="padding-left:5px">
                                                                                                                                    <input type="password" id="Password" name="Password" placeholder="Secure Password" class="required form-control form-control-inverse" />

                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                            <div class="col-sm-12 form-group row">
                                                                                                                                <div class="col-sm-9"></div>
                                                                                                                                <div class="col-sm-3" style="padding-left:5px">
                                                                                                                                    <input type="submit" name="submit" class="btn-primary btn-sm Button-group" value="Register User" />
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </table>
                                                                                                            </div>
                                                                                                        </section>
                                                                                                    </form>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </fieldset>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  
         $('#Role').html('');
        var options = '';
        $.ajax({
                url: '@Url.Action("Roles", "User")',
                     type: "GET",
                     cache:false,
                     success: function (result) {
                         var options = '';

                         options += '<option value="Select">Select Role</option>';
                         for (var i = 0; i < result.length; i++) {
                             options += '<option value="' + result[i] + '">' + result[i] + '</option>';
                         }
                         $('#Role').append(options);
                  }
    });

    $("#PhoneNum").inputmask({ "mask": "(03)-999-9999999" });

    $(function () {
        $("#Image").on('change', function () {
            //Get count of selected files
            var countFiles = $(this)[0].files.length;

            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
            var image_holder = $("#image-holder");
            image_holder.empty();

            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) != "undefined") {

                    //loop for each file selected for uploaded.
                    for (var i = 0; i < countFiles; i++) {

                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("<img />", {
                                "src": e.target.result,
                                "class": "thumb-image timage"
                            }).appendTo(image_holder);
                        }
                        image_holder.show();
                        reader.readAsDataURL($(this)[0].files[i]);
                    }

                } else {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
    });
</script>
