
@{
    ViewBag.Title = "bodyContainer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pcoded-main-container" style="margin-top:56px">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body row">
                            <h1> Patient Controller</h1>
                            <!--Write your main middle content here-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


