@model HMS.Models.Appointment

@{
    ViewBag.Title = "Appoitnments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    #dataTableId_wrapper {
        width: 100%;
    }

    thead {
        color: white;
        width: 20px;
    }

    .c1 {
        width: 100px
    }
</style>
<div class="pcoded-main-container" style="margin-top:56px">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body row">
                            <div style="width:100%; margin:0 auto;" class="row">
                                <table id="dataTableId" style="width:100%" class="table table-bordered table-primary"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var List;
    $(function () {
        List = {
            dt: null,

            init: function () {
                dt = $('#dataTableId').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "ajax": {
                        "url": "@Url.Action("GetAppointments", "Patient")"
                    },
                    "columns": [
                        { "data": "AppointmentID" },
                        { "title": "Appointment", "data": "AppointmentID", "searchable": true },
                        { "title": "Patient", "data": "PatientName", "searchable": true },
                        { "title": "Doctor", "data": "DoctorName", "searchable": true },
                        { "title": "Date", "data": "Date", "searchable": true },
                        { "title": "Time", "data": "Time", "searchable": true }
                    ],
                    "columnDefs": [
                        {
                            "targets": [0,1],
                            "visible": false

                        },
                        {
                            "targets": [4,3,5,2],
                            "width":"100px"
                        },
                        {
                            "targets": [-1],
                            "width":"100px"
                        },
                        {
                            "targets": [1],
                            "width": "150px"
                        },
                        {
                            "render": function (data, type, row) {
                                var inner = '<a class="btn btn-primary btn-xs edit" data-id="' + row.AppointmentID + '"href="/Patient/Diagnose/' + row.AppointmentID + '">Diagnose</a>'

                                return inner;
                            },
                            "targets": 6
                        }
                    ],
                });

            }
        }
        debugger
        // initialize the datatables
        List.init();
    });
</script>
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

