@model HMS.Models.Patient
@{
    ViewBag.Title = "MakeAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .Button-group {
        width: 146.750px;
        color: #fff;
    }
</style>
<div class="pcoded-main-container" style="margin-top:56px">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div id="wizard">
                                                    <section>
                                                        <fieldset class="tabContent" id="Appointment" style="width:100%">
                                                            <div class="card-block">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div id="wizard">
                                                                            <section>
                                                                                <div class="wizard-form" id="example-advanced-form">
                                                                                    @Html.AntiForgeryToken()
                                                                                    <table class="table col-md-12 table-bordered">
                                                                                        <tr>
                                                                                            <td style="border-bottom:none;padding-bottom:0" class="ctd">
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-1" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="PatientName" class="block" style="line-height:50px">Patient :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px;">
                                                                                                        <input type="text" id="PatientName" name="PatientName" class="required form-control form-control-inverse" onclick="check()" readonly />
                                                                                                    </div>
                                                                                                    <div class="col-sm-1" style="padding-left:5px; padding-right:2px">
                                                                                                        <label for="Name" class="block" style="line-height:50px">Doctor:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px">
                                                                                                        <select type="text" id="DoctorName" name="DoctorName" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="border-top:none;padding-top:0" class="ctd">
                                                                                                <div class="form-group row col-sm-12">
                                                                                                    <div class="col-sm-1" style="padding-left:5px;padding-right:2px">
                                                                                                        <label for="Date" class="block" style="line-height:50px">Date :</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px;">
                                                                                                        <input onfocus="this.type='date'" id="Date" name="Date" placeholder="Today's Date" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                    <div class="col-sm-1" style="padding-left:5px; padding-right:2px">
                                                                                                        <label for="Name" class="block" style="line-height:50px">Time:</label>
                                                                                                    </div>
                                                                                                    <div class="col-sm-5" style="padding-left:5px">
                                                                                                        <input type="time" id="DoctorName" name="DoctorName" class="required form-control form-control-inverse" />
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group col-sm-12 form-group row">
                                                                                                    <div class="col-sm-9"></div>
                                                                                                    <div class="col-sm-3" >
                                                                                                        <button class="btn-primary btn-sm Button-group" style="width:195px;height:45px">Make  Appointment</button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var patient = '@Model.Name.ToString()';
    $(document).ready(function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = (month) + "/" + (day) + "/" + now.getFullYear();

        $('#PatientName').val(patient);
        $('#Date').val(today);
        $('#DoctorName').html('');
        var options = '';
        $.ajax({
                url: '@Url.Action("GetDoctors", "Doctors")',
                     type: "GET",
                     cache:false,
                     success: function (result) {
                         var options = '';
                         
                         options += '<option value="Select">Select</option>';
                         for (var i = 0; i < result.length; i++) {
                             options += '<option value="' + result[i] + '">' + result[i] + '</option>';
                         }
                         $('#DoctorName').append(options); 
                  }
               });

    });
</script>
