@{
    ViewBag.Title = "Home Page";
}
<div class="pcoded-main-container" style="margin-top:56px">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="page-body row">
                            <h1>Hello</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
